<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeriesSortCleanup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SeriesSortCleanup.Properties.Settings>
            <setting name="sourceDir" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="destinationDir" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="sourceDirCheck" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="destinationDirCheck" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="WarningSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TargetDirRename" serializeAs="String">
                <value>G:\Testing\rar series</value>
            </setting>
            <setting name="MinRenameSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="WinRARDir" serializeAs="String">
                <value>C:\Program Files\WinRAR\winrar.exe</value>
            </setting>
            <setting name="TargetExtractDir" serializeAs="String">
                <value>G:\Testing\rar series</value>
            </setting>
        </SeriesSortCleanup.Properties.Settings>
    </userSettings>
</configuration>
